<table class="table table-bordered">
  <tr><td colspan="2">耗时：<%= time %> ms</td></tr>
<% for(var i=0; i<list.length; i++) {%>
  <tr > 
  <td class="text-center"> <%= i + 1 %></td>  
  <td class="list-item"><%= list[i].text %></td>
  </tr>
<% } %>
<% if(list.length == 0) {%>
  <tr><td colspan="2">没有匹配结果！</td></tr>
<% } %>
</table>